# For more details on the commands:
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: Google
IndentWidth: 4
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: AcrossEmptyLines
AlignEscapedNewlines: Right
AlignOperands: Align
# AlignTrailingComments: Always
AllowAllArgumentsOnNextLine: True
AllowAllParametersOfDeclarationOnNextLine: True
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: False
AllowShortEnumsOnASingleLine: False
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: True
AlwaysBreakBeforeMultilineStrings: True
# AlwaysBreakTemplateDeclarations: True
BinPackArguments: True
BinPackParameters: False
BreakBeforeBraces: Attach
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterComma
BreakStringLiterals: True
ColumnLimit: 88
CompactNamespaces: False
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
Cpp11BracedListStyle: True
# EmptyLineAfterAccessModifier: Never
# EmptyLineBeforAccessModifier: Always
FixNamespaceComments: True
IncludeBlocks: Regroup
IndentCaseBlocks: True
IndentCaseLabels: True
NamespaceIndentation: All
SortIncludes: CaseInsensitive
SeparateDefinitionBlocks: Always
EmptyLineBeforeAccessModifier: LogicalBlock
MaxEmptyLinesToKeep: 2
IncludeCategories:
  - Regex: '<*.hxx>'
    Priority: 10
  - Regex: '<*/*.hpp>'
    Priority: 4
  - Regex: '<*.hpp>'
    Priority: 2
  - Regex: '<*.*>'
    Priority: 3
  - Regex: '<*>'
    Priority: 1

