<?xml version="1.0"?>

<!-- This file is based on ur.ros2_contro.xacro provided by Universal Robots for     -->
<!-- their robots, but with data ported for the Z1 manipulator from alientree.       -->
<!-- Source to the original file:                                                    -->
<!-- https://github.com/UniversalRobots/Universal_Robots_ROS2_Description/blob/rolling/urdf/ur.ros2_control.xacro -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="z1_ros2_control" params="
    name
    sim_ignition:=true
    prefix
    with_gripper:=true
    ">

    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${sim_ignition}">
          <plugin> ign_ros2_control/IgnitionSystem </plugin>
        </xacro:if>
        <xacro:unless value="${sim_ignition}">
          <plugin>unitree_z1_hw_interface/UnitreeZ1HWInterface</plugin>
          <param name="gripper">${with_gripper}</param>
          <!-- add other necessary parameters here -->
        </xacro:unless>
      </hardware>

      <joint name="$(arg prefix)shoulder_pan_joint">
        <command_interface name="position">
          <param name="min"> ${joint1_PositionMin} </param>
          <param name="max"> ${joint1_PositionMax} </param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min"> -${velocityMax} </param>
          <param name="max"> ${velocityMax} </param>
        </command_interface>
        <command_interface name="effort">
          <param name="min"> -${torqueMax} </param>
          <param name="max"> ${torqueMax} </param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="$(arg prefix)shoulder_lift_joint">
        <command_interface name="position">
          <param name="min"> ${joint1_PositionMin} </param>
          <param name="max"> ${joint1_PositionMax} </param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min"> -${velocityMax} </param>
          <param name="max"> ${velocityMax} </param>
        </command_interface>
        <command_interface name="effort">
          <param name="min"> -${torqueMax} </param>
          <param name="max"> ${torqueMax} </param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="$(arg prefix)elbow_joint">
        <command_interface name="position">
          <param name="min"> ${joint1_PositionMin} </param>
          <param name="max"> ${joint1_PositionMax} </param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min"> -${velocityMax} </param>
          <param name="max"> ${velocityMax} </param>
        </command_interface>
        <command_interface name="effort">
          <param name="min"> -${torqueMax} </param>
          <param name="max"> ${torqueMax} </param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="$(arg prefix)wrist_1_joint">
        <command_interface name="position">
          <param name="min"> ${joint1_PositionMin} </param>
          <param name="max"> ${joint1_PositionMax} </param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min"> -${velocityMax} </param>
          <param name="max"> ${velocityMax} </param>
        </command_interface>
        <command_interface name="effort">
          <param name="min"> -${torqueMax} </param>
          <param name="max"> ${torqueMax} </param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="$(arg prefix)wrist_2_joint">
        <command_interface name="position">
          <param name="min"> ${joint1_PositionMin} </param>
          <param name="max"> ${joint1_PositionMax} </param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min"> -${velocityMax} </param>
          <param name="max"> ${velocityMax} </param>
        </command_interface>
        <command_interface name="effort">
          <param name="min"> -${torqueMax} </param>
          <param name="max"> ${torqueMax} </param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="$(arg prefix)wrist_3_joint">
        <command_interface name="position">
          <param name="min"> ${joint1_PositionMin} </param>
          <param name="max"> ${joint1_PositionMax} </param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min"> -${velocityMax} </param>
          <param name="max"> ${velocityMax} </param>
        </command_interface>
        <command_interface name="effort">
          <param name="min"> -${torqueMax} </param>
          <param name="max"> ${torqueMax} </param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <xacro:if value="${with_gripper}">
          <joint name="$(arg prefix)gripper">
            <command_interface name="position">
              <param name="min"> ${Gripper_PositionMin} </param>
              <param name="max"> ${Gripper_PositionMax} </param>
            </command_interface>
            <command_interface name="velocity">
              <param name="min"> -${velocityMax} </param>
              <param name="max"> ${velocityMax} </param>
            </command_interface>
            <command_interface name="effort">
              <param name="min"> -${torqueMax} </param>
              <param name="max"> ${torqueMax} </param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
          </joint>
    </xacro:if>


    </ros2_control>

  </xacro:macro>

</robot>
